[submodule "EMSE2025SAR-attack-graph-generator"]
	path = EMSE2025SAR-attack-graph-generator
	url = https://github.com/M3SOulu/EMSE2025SAR-attack-graph-generator
[submodule "EMSE2025SAR-authz-flow-analysis"]
	path = EMSE2025SAR-authz-flow-analysis
	url = https://github.com/M3SOulu/EMSE2025SAR-authz-flow-analysis
[submodule "EMSE2025SAR-code2DFD"]
	path = EMSE2025SAR-code2DFD
	url = https://github.com/M3SOulu/EMSE2025SAR-code2DFD
[submodule "EMSE2025SAR-CodeCompass"]
	path = EMSE2025SAR-CodeCompass
	url = https://github.com/M3SOulu/EMSE2025SAR-CodeCompass
[submodule "EMSE2025SAR-MicroDepGraph"]
	path = EMSE2025SAR-MicroDepGraph
	url = https://github.com/M3SOulu/EMSE2025SAR-MicroDepGraph
[submodule "EMSE2025SAR-Micrograal"]
	path = EMSE2025SAR-Micrograal
	url = https://github.com/M3SOulu/EMSE2025SAR-Micrograal
[submodule "EMSE2025SAR-microMiner"]
	path = EMSE2025SAR-microMiner
	url = https://github.com/M3SOulu/EMSE2025SAR-microMiner
[submodule "EMSE2025SAR-microTOM"]
	path = EMSE2025SAR-microTOM
	url = https://github.com/M3SOulu/EMSE2025SAR-microTOM
[submodule "EMSE2025SAR-prophet"]
	path = EMSE2025SAR-prophet
	url = https://github.com/M3SOulu/EMSE2025SAR-prophet
[submodule "EMSE2025SAR-prophet2"]
	path = EMSE2025SAR-prophet2
	url = https://github.com/M3SOulu/EMSE2025SAR-prophet2
[submodule "EMSE2025SAR-protoc-gen-scip"]
	path = EMSE2025SAR-protoc-gen-scip
	url = https://github.com/M3SOulu/EMSE2025SAR-protoc-gen-scip
[submodule "EMSE2025SAR-rad"]
	path = EMSE2025SAR-rad
	url = https://github.com/M3SOulu/EMSE2025SAR-rad
[submodule "EMSE2025SAR-rad-source"]
	path = EMSE2025SAR-rad-source
	url = https://github.com/M3SOulu/EMSE2025SAR-rad-source
[submodule "EMSE2025SAR-source-code-parser"]
	path = EMSE2025SAR-source-code-parser
	url = https://github.com/M3SOulu/EMSE2025SAR-source-code-parser
